<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>World X <small>({{pagination.totalItems}} active users)</small></h2>
    </div>
  </div>
  
  <div class="row">
    <div *ngFor="let user of users; let i = index" [attr.data-index]="i">
        <div class="clearfix" *ngIf="i % 3 == 0"></div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.username}}</h3>
            </div>
            <div class="panel-body">
              <img src="{{user.photoUrl}}" alt="">
              <p>{{user.interests}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let user of users">
  {{user.username}} <br/>
</div> -->

<div class="text-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
    [(ngModel)]="pagination.currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;"></pagination>
</div>